<h1>Edit</h1>
<%= form_for @user do |f| %>
    Name:
    <br>
    <%= f.text_field :name %>
    <br>
    Password:
    <br>
    <%= f.password_field :password %>
    <br>
    Height (in inches) <br>
    <%= f.number_field :height, min: 0.0, step: 1 %>
    <br>
    How happy are you? (1-5 scale) <br>
    <%= f.number_field :happiness, in: 1.0..5.0, step: 1 %>
    <br>
    How nauseous are you? (1-5 scale) <br>
    <%= f.number_field :nausea, in: 1.0..5.0, step: 1 %>
    <br>
    How many dollars are in your pocket? <br>
    <%= f.number_field :tickets, min: 0.0, step: 1 %>
    <br>
    Check box if you are a theme park owner
    <%= f.check_box :admin %>
    <br>
    <br>
    <%= f.submit%>
<% end %>
